.dropdown {
  position: relative;
  .dropdown_menu {
    position: absolute;
    background: white;
    border: 1px solid black;
    left: 0;
    top: 20px;
    width: 100%;
    z-index: 1;
    min-width: fit-content;

    .dropdown_menu_item {
      padding: 5px;
      text-align: left;
      white-space: nowrap;

      &:hover {
        background: darken(#fff, 10%);
      }
    }
  }
}
